<main>
  <section *ngIf="ticket">
    <p>Référence ticket : {{ticket.ref}}</p>
    <p>Ouvert le : {{ticket.intervention[0].date | date: 'dd MMMM yyyy'}}</p>
    <p>Client : </p>
    <p>{{ticket.materiel.client.raisonSociale.raisonSociale}} {{ticket.materiel.client.nom}}</p>
    <p>Materiel : {{ticket.materiel.typeMateriel.type}}</p>
    <p>Marque : {{ticket.materiel.marque.marque}}</p>
    <p>Modèle : {{ticket.materiel.modele.modele}}</p>
    <p (click)="urlHandler()">{{ticket.materiel.modele.url}}</p>
  </section>
  <section>
    <app-intervention *ngFor="let intervention of interventions" [intervention]="intervention"></app-intervention>
  </section>
</main>
